<div class="pod col-xs-10 col-xs-offset-1">
	<h1><%= @cart.name %></h1>
	<i><%= @cart.address %></i>
	<br/><br/>
	<p><%= @cart.description %></p>
	<div class="pull-right">
		<% if current_user && current_user == @cart.user %>
			<%= link_to 'Edit', edit_cart_path(@cart), :class => 'btn btn-primary' %>
		<% end %>
		<%= link_to 'Destroy', cart_path(@cart), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-danger' %>
	</div>
</div>

<div class="clear"></div>

<%= simple_form_for @comment, :url => cart_comments_path(@cart) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit "Add a Comment", :class => 'btn btn-primary' %>
<% end %>

